<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Milestone Project</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	</head>
	<body>
		<div>

      <form action="{{ url_for('view_ticker') }}" method="post">
        <div>
          <label for="say">What ticker would you like to view?</label>
          <input type = "text" name="ticker">
        </div>
        <div>
          <button>View Ticker</button>
        </div>
      </form>

      
		</div>
	</body>
</html>
